@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
    
}

body{
    margin: 0;
    background-color: #8d58c9;
     font-family: "Poppins", sans-serif;
}

header{
    background-color: #8d58c9;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}


.search {
    padding: 10px 20px;
    border: 2px solid #eee;
    background-color: #8d58c9;
    border-radius: 20px;
    font-size: 18px;
    color: #eee;
    width: 300px;
    margin-right: 20px;
}

.search::placeholder{
    color: #afb2dc;
}

.search:focus{
    outline: none;
    background-color: #8d58c9   ;
}


main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.movie{
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    border-radius: 3px;
    width: 300px;
    background-color: #0d1dd2;
    margin: 1rem;
    overflow: hidden;
    position: relative;
    flex-basis: calc(33.33% - 2rem);
}

.movie img{
 width: 100%;
   
}

.movie-info{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    color: #eee;
    letter-spacing: 0.5px;
    align-items: center;
}

.movie-info h3{
    margin: 0;
}

.movie-info span{
    background-color: #22254b;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color: rgb(46, 194, 46);
}
.movie-info span.orange{
 color: orange;
}
.movie-info span.red{
    color: red;

}

.overview{
    position: absolute;
    top: 10;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    padding: 2rem;
    transform: translateY(100%);
    transition: transform 0.5s ease-in;
    max-width: 100%;
    overflow: auto;
    opacity: 70%;
    
}

.movie:hover .overview{
    transform: translateY(0);
}

.overview h4{
    margin-top: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8d58c9; /* change to purple */
    color: #fff;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 0;
    color: white;
    display: inline-block;
    position: absolute;
    left: 50px; 
    font-size: 30px;/* align to left */
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin-left: auto; /* align to right */
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #ff0;
  }

  main {
    margin: 20px;
  }
  
  